*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #387478;
}

main{
    flex: 1;
}

h1{ 
    font-size: 3.5em;
    color: #E2F1E7;
    align-content: center;
}

ul{ list-style: none;}

header .container{
    max-width: auto;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

header{
    background-color: #243642;
    position: relative;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #E2F1E7;
    font-size: 1.5em;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    color: #E2F1E7;
}

header a:hover{
    color: aqua;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    position: relative;
}

#hero h1{
    text-align: center;
    margin-bottom: 40px;
}

footer {
    background-color: #243642;
    color: #E2F1E7;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9em;
}


footer .container {
    max-height: 30px;
}

section .button {
    display: inline-block;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 12px;
    border: 1px solid #629584;
    color: #E2F1E7;
    background-color: #629584;
}

section.button:hover {
    background-color: #629594;
    border: 1px solid #629594;
}

/* Estilos exclusivos para login.html */
#login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #243642;
    color: #E2F1E7;
    border-radius: 8px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #629584;
    border-radius: 5px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #629584;
    color: #E2F1E7;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

#login-.h2{
    font-size: 3.5em;
    color: #E2F1E7;
    align-content: center;
}